/* ---------------------- GENERAL ---------------------------- */

:root {
	font-family: 'Open Sans', sans-serif;
	--cta-text-color: #f97316;
	--primary-text-color: #a3a3a3;
	--secondary-text-color: #f5f5f5;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--primary-text-color);
	font-size: 0.875rem;
}

a:hover {
	color: var(--secondary-text-color);
}

ul {
	list-style: none;
}

html {
	background-color: #0a0a0a;
}

body {
	padding: 2.4rem;
	margin: auto;
	max-width: 900px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	row-gap: 4rem;
	line-height: 1.5rem;
}

header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

nav ul {
	display: flex;
	align-items: center;
	column-gap: 0.7rem;
	color: var(--primary-text-color);
}

main {
	display: flex;
	flex-direction: column;
	row-gap: 4rem;
}

.active {
	color: var(--secondary-text-color);
}

.socials {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.7rem;
	color: var(--primary-text-color);
}

.socials a:hover {
	color: var(--cta-text-color);
}

.title-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 0.5rem;
}

.title-container a {
	text-decoration: underline;
}

.date-container {
	display: flex;
	align-items: center;
	column-gap: 0.6rem;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#blog {
	display: flex;
	flex-direction: column;
	row-gap: 4rem;
}

#blog h1 {
	color: var(--secondary-text-color);
	font-weight: 500;
	font-size: 1.5rem;
}

#blog .container article:not(:last-child) {
	border-bottom: rgb(68, 68, 68) solid 1px;
}

#blog .container article {
	padding: 1.2rem 0;
	display: flex;
	flex-direction: column;
	row-gap: 0.2rem;
	border-top: rgb(68, 68, 68) solid 1px;
	color: var(--primary-text-color);
}

#blog .container article h2 {
	text-transform: capitalize;
	font-size: 1.125rem;
	font-weight: 400;
}

#blog .container article p {
	font-size: 0.9rem;
}

#blog .container article:hover {
	color: var(--secondary-text-color);
}

footer {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	color: var(--primary-text-color);
}

footer h2 {
	color: var(--secondary-text-color);
	font-size: 1.125rem;
	font-weight: 500;
}

/* ---------------------- MEDIA QUERIES ---------------------------- */

/* SM */
@media (min-width: 640px) {
}

/* MD */
@media (min-width: 768px) {
	body {
		padding-top: 4rem;
	}

	header {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

/* LG */
@media (min-width: 1024px) {
}

/* XL */
@media (min-width: 1280px) {
}

/* 2XL */
@media (min-width: 1536px) {
}
